//@import "~bootstrap/scss/bootstrap";
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "partials/commons.scss";
@import "partials/variables.scss";
@import "partials/header.scss";
@import "partials/main.scss";
